.fade-out
    animation: fade-out-an .5s forwards

.fade-in
    animation: fade-in-an .5s forwards

@keyframes fade-in-an
    0%
        // transform: translateY(-50px)
        transform: scale(0.5)
        opacity: 0

    70%
        transform: scale(1.1)
        opacity: 1

    100%
        // transform: translateY(0px)
        transform: scale(1)

@keyframes fade-out-an
    0%
        transform: scale(1)
        opacity: 1

    
    100%
        transform: scale(0.5)
        opacity: 0
        