*
    box-sizing: border-box
    &:before,
    &:after 
        box-sizing: border-box

body
    margin: 0
    -webkit-font-smoothing: antialiased
    background: $c_bg
    color: $c_dark
    font-family: 'Nunito', sans-serif

a
    color: inherit
    text-decoration: none

.container
    width: 90%
    margin: auto

.title
    margin: 0
    font-size: 3rem


.paragraph-title
    font-size: 1.4rem

ul
    padding: 0
    & li
        list-style: none
        padding: 0

img
    width: 100%
    position: relative
    z-index: -1

p
    line-height: 1.5em
    padding-left: 1em

.row
    display: flex
    justify-content: space-between

header
    margin: 2em 0

.content
    margin-bottom: 2.5em

    & .container
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px
        background: $c_light
        padding: 1em
        border-radius: $b_radius

.link
    color: $c_primary
    transition: .3s
    position: relative

    &::after
        content: ""
        position: absolute
        left: 0
        display: block
        width: 0
        height: 2px
        background: $c_primary
        transition: .3s
        border-radius: $b_radius

    &:hover::after
        width: 100%

.icons 
    margin: 0
    
    & li
        padding: 0 .5em .5em

    & svg
        height: 2em
        width: 2em

        & path
            transition: all .3s
            fill: $c_dark

        &:hover,
        &:focus
            & path
                fill: $c_primary
        

.navigation
    margin: 0

    & li
        font-size: 1.2rem
        padding-bottom: .25em

        &::before
            padding-right: .5em
            content: "|"

        &:last-child
            &::after
                padding: 0
                content: ""

.buttons
    align-items: center

#overlay
    position: fixed
    visibility: hidden
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: transparentize($c_dark, .5)
    backdrop-filter: blur(1.5px)
    transform: scale(0.5)
    transition: .3s

//poster
.poster
    & p 
        padding: 0
        margin: .5em 1em 2em 0
        color: lighten($c_dark, 15)

    & img
        display: block
        object-fit: cover
        border-radius: $b_radius
        margin: 0 auto
        max-width: 400px

footer .container
    height: 150px
    background: $c_dark

