@media (min-width: 450px)
    #nav-icon
        display: none

    .icons li
        display: inline

    .navigation
        padding: 2px 0 0
        opacity: 1
        transform: translateY(0)
        & li
            padding: 0
            display: inline
            &::before
                padding: 0
                content: ""
            &::after
                padding: 0 .5em
                content: "|"


@media (min-width: 750px)
    // header
    //     margin-bottom: 15vh

    .container
        width: 85%
    .col-responsive
        display: flex

    .content
        & img
            width: 30%
            margin: 0 0 0 auto

@media (min-width: 1050px) 
    html
        font-size: 1.15rem

    .container
        width: 80%
